<div class="slider slider--small">
    <div class="slider__visual">
        <div class="slider__header">
            <h2>
                <div class="pattern-text"><span class="pattern-text__original">Hiscores</span><span class="pattern-text__shadow">Hiscores</span></div>
            </h2>
            <h4>Check to see who's on top</h4>
        </div>
    </div>
</div>
<div class="main-content hiscores__outer" role="main">
    <div class="main-content__side main-content__side--left">
        <div class="clan-hiscores__outer">
            <div class="clan-hiscores hiscores">
                <div class="main-block">
                    <div class="main-block__header">
                        <h1>Overall</h1>
                    </div>
                    <div class="main-block__body">
                        <table class="clan-hiscores__table hiscores__table">
                            <tr>
                                <th class="clan-hiscores__rank">Rank</th>
                                <th class="clan-hiscores__username">Username</th>
                                <th class="clan-hiscores__level">Level</th>
                                <th class="clan-hiscores__experience">Experience</th>
                            </tr>
                            {{#each rows}}
                            <tr data-rank="{{rank}}">
                                <td class="clan-hiscores__rank">{{rank}}</td>
                                <td class="clan-hiscores__username"><a href="/logs/search/{{userName}}">{{userName}}</a></td>
                                <td class="clan-hiscores__level">{{totalLevel}}</td>
                                <td class="clan-hiscores__experience">{{overallXP}}</td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {{#if first}}


        {{else}}
        <div class="hiscores__pagination">
            <a class="hiscores__pagination__btn hiscores__pagination__btn--previous" href="/hiscores/p/{{prev}}">Previous</a>
            <div class="hiscores__pagination__pages">
                {{{output}}}
            </div>
                <a class="hiscores__pagination__btn hiscores__pagination__btn--next" href="/hiscores/p/{{next}}">Next</a>
            <div class="clear-fix"></div>
        </div>
        {{/if}}
    </div>
    <aside class="main-content__side main-content__side--right">
        <div class="sidebar">
            <div class="sidebar__container">
                <div class="sidebar__block link-buttons__outer">
                    <div class="link-buttons"><a class="link-buttons__item link-buttons__item--default link-buttons__item--active" href="/hiscores/p/1">
                        <figure>
                            <picture>
                                <source srcset="/static/assets/img/icon_user.png 1x, /static/assets/img/icon_user@2x.png 2x"/><img src="/static/assets/img/icon_user.png" alt="" width="25" height="27"/>
                            </picture>
                        </figure>
                        <h3><span>Regular</span><small>Regular game accounts without any limitations</small></h3>
                        <div class="clear-fix"></div></a><a class="link-buttons__item link-buttons__item--default" href="/hiscores/ironman/p/1">
                        <figure>
                            <picture>
                                <source srcset="/static/assets/img/icon_ironman.png 1x, /static/assets/img/icon_ironman@2x.png 2x"/><img src="/static/assets/img/icon_ironman.png" alt="" width="30" height="35"/>
                            </picture>
                        </figure>
                        <h3><span>Ironman</span><small>Ironmen cannot trade with other people</small></h3>
                        <div class="clear-fix"></div></a><a class="link-buttons__item link-buttons__item--default" href="/hiscores/hcim/p/1">
                        <figure>
                            <picture>
                                <source srcset="/static/assets/img/icon_hardcore_ironman.png 1x, /static/assets/img/icon_hardcore_ironman@2x.png 2x"/><img src="/static/assets/img/icon_hardcore_ironman.png" alt="" width="30" height="35"/>
                            </picture>
                        </figure>
                        <h3><span>Hardcore Ironman</span><small>HCIM cannot trade with other people and only have one life</small></h3>
                        <div class="clear-fix"></div></a></div>
                </div>
                {{> hiscores/accountSearch}}
                {{> hiscores/skills}}
            </div>
        </div>
    </aside>
    <div class="clear-fix"></div>
</div>