<div class="account__skills">
    <div class="account__skills__container">
        <div class="account__skills__item account__skills__item--attack"><i class="hiscores__icon hiscores__icon--attack"></i><span>{{hs.attackLevel}}</span>
        </div>
        <div class="account__skills__item account__skills__item--hitpoints"><i class="hiscores__icon hiscores__icon--hitpoints"></i><span>{{hs.hitpointsLevel}}</span>
        </div>
        <div class="account__skills__item account__skills__item--mining"><i class="hiscores__icon hiscores__icon--mining"></i><span>{{hs.miningLevel}}</span>
        </div>
        <div class="account__skills__item account__skills__item--strength"><i class="hiscores__icon hiscores__icon--strength"></i><span>{{hs.strengthLevel}}</span>
        </div>
        <div class="account__skills__item account__skills__item--agility"><i class="hiscores__icon hiscores__icon--agility"></i><span>{{hs.agilityLevel}}</span>
        </div>
        <div class="account__skills__item account__skills__item--smithing"><i class="hiscores__icon hiscores__icon--smithing"></i><span>{{hs.smithingLevel}}</span>
        </div>
        <div class="account__skills__item account__skills__item--defence"><i class="hiscores__icon hiscores__icon--defence"></i><span>{{hs.defenceLevel}}</span>
        </div>
        <div class="account__skills__item account__skills__item--herblore"><i class="hiscores__icon hiscores__icon--herblore"></i><span>{{hs.herbloreLevel}}</span>
        </div>
        <div class="account__skills__item account__skills__item--fishing"><i class="hiscores__icon hiscores__icon--fishing"></i><span>{{hs.fishingLevel}}</span>
        </div>
        <div class="account__skills__item account__skills__item--ranged"><i class="hiscores__icon hiscores__icon--ranged"></i><span>{{hs.rangedLevel}}</span>
        </div>
        <div class="account__skills__item account__skills__item--thieving"><i class="hiscores__icon hiscores__icon--thieving"></i><span>{{hs.thievingLevel}}</span>
        </div>
        <div class="account__skills__item account__skills__item--cooking"><i class="hiscores__icon hiscores__icon--cooking"></i><span>{{hs.cookingLevel}}</span>
        </div>
        <div class="account__skills__item account__skills__item--prayer"><i class="hiscores__icon hiscores__icon--prayer"></i><span>{{hs.prayerLevel}}</span>
        </div>
        <div class="account__skills__item account__skills__item--crafting"><i class="hiscores__icon hiscores__icon--crafting"></i><span>{{hs.craftingLevel}}</span>
        </div>
        <div class="account__skills__item account__skills__item--firemaking"><i class="hiscores__icon hiscores__icon--firemaking"></i><span>{{hs.firemakingLevel}}</span>
        </div>
        <div class="account__skills__item account__skills__item--magic"><i class="hiscores__icon hiscores__icon--magic"></i><span>{{hs.magicLevel}}</span>
        </div>
        <div class="account__skills__item account__skills__item--fletching"><i class="hiscores__icon hiscores__icon--fletching"></i><span>{{hs.fletchingLevel}}</span>
        </div>
        <div class="account__skills__item account__skills__item--woodcutting"><i class="hiscores__icon hiscores__icon--woodcutting"></i><span>{{hs.woodcutLevel}}</span>
        </div>
        <div class="account__skills__item account__skills__item--runecraft"><i class="hiscores__icon hiscores__icon--runecraft"></i><span>{{hs.runecraftLevel}}</span>
        </div>
        <div class="account__skills__item account__skills__item--slayer"><i class="hiscores__icon hiscores__icon--slayer"></i><span>{{hs.slayerLevel}}</span>
        </div>
        <div class="account__skills__item account__skills__item--construction"><i class="hiscores__icon hiscores__icon--construction"></i><span>{{hs.constructionLevel}}</span>
        </div>
        <div class="account__skills__item account__skills__item--hunter"><i class="hiscores__icon hiscores__icon--hunter"></i><span>{{hs.hunterLevel}}</span>
        </div>
        <div class="account__skills__item account__skills__item--overall"><i class="hiscores__icon hiscores__icon--overall"></i><span>{{hs.totalLevel}}</span>
        </div>
        <div class="account__skills__statistic">
            <h4>{{hs.overallXP}}</h4><span>Total experience</span>
        </div>
        <div class="account__skills__statistic">
            <h4>645</h4><span>Hiscore rank</span>
        </div>
        <div class="clear-fix"></div>
    </div>
</div>